.navbar{
	margin-bottom : 0;
	min-height : 60px;
	background-color: black;
}

.navbar-brand {
  height: 80px;
  color : #E3881D
}

.nav >li >a {
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
