body {
 background-color: #fff; 
 color: #000; 
 padding: 0; 
 margin: 0; 
}
.container { 
	width: 1012px; 
	margin: auto; 
	padding-top: 1em;	
}
.container .ism-slider {
	margin-left: auto; 
	margin-right: auto; 
}